@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');



$primaryFont: 'Questrial', sans-serif;
$secondaryFont: 'Noto Sans JP', sans-serif;



$primaryBackgroundColor: #DB9395;
$secondaryBackgroundColor: #efc2c3;
$purpleBackgroundColor: #ecebf5;
$tanBackgroundColor: #fcf9ea;

$primaryTextColor: #363636;
$primaryPurpleColor: purple;
$secondaryTextColor: white;

