@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

// $containerHeight: 500px;
$cakeLayerWidth: 275px;
$cakeLayerHeight: 90px;
$buttonSize: 40px;
$buttonMargin: 10px;
$plateWidth: 280px;
$plateHeight: 40px;
$plateColor: rgb(189, 193, 211);

#cake-control-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: flex-end;
}

#cake-slice-container{
  display: flex;
  align-items: center;
  height: 5em;
  position: absolute;
  top: 220px;
}

#cake-layer-section{
  width: 100px;
  width: 100px;
  margin: 7em;
  border-radius: 50%;
  border: 1px solid rgb(235, 232, 232);
  overflow: hidden;

  .cake-layer-slice{
    height: 23px;
    width: 100px;
  }
  .frosting-layer-slice{
   height: 13px;
   width: 100px;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}

.cake {
  width: $cakeLayerWidth;
  height: 55%;
  display: flex;
  flex-direction: column-reverse;
  z-index: 5;
}

.cake-layer {
  width: $cakeLayerWidth;
  height: $cakeLayerHeight;
  transition: 0.1s;
  animation: cakeAppear 0.5s;
  border: 1px solid rgb(231, 220, 220);
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(250, 234, 234);
}



@keyframes cakeAppear {
  0% { height: $cakeLayerHeight; }
  10% { height: $cakeLayerHeight / 1.4; }
  100% { height: $cakeLayerHeight; }
}

.cake-controls {
  $btnTextColor: #444;
  $btnFocusColor: #FFBB00;
  color: #DDD;
  padding: 5px;
  
   
  button {
    width: $buttonSize;
    height: $buttonSize;
    border-radius: 50%;
    background-color: #EEE;
    border: rgb(240, 234, 234) 1px solid;
    color: rgb(165, 162, 162);
    font-size: 20px;
    transition: 0.1s;
    margin: 5px;
  }
  
  button:hover {
    background-color: #FFD;
    border-color: #DDB;
  }
  
  button:active {
    background-color: #CCC;
    border-color: #999;
  }
  
  button:focus {
    outline: 0;
    border-color: $btnFocusColor;
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  
  .direction-controls {
   display: flex;
   margin-top: 5px;
  }
  

  $noBuildColor: rgba(0, 0, 0, 0.5);
  
  button.no-build, .no-build .help-candle-base, button.no-build:hover, button.no-build:active, button.no-build:focus {
    background-color: $noBuildColor;
    border: 0;
    color: $btnTextColor;
  }
  
  .help-candle.no-build {
    background-color: clear;
    color: $noBuildColor;
  }
}

.plate {
  display: flex;
  flex-direction: column;
  width: $plateWidth;
  height: $plateHeight;
  z-index: 20;
}

.plate-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.plate-top {
  width: $plateWidth / 2;
  height: $plateHeight / 2;
  background-color: $plateColor;
  flex: 2;
}

.plate-base {
  width: 75%;
  height: 50%;
  background-color: $plateColor;
}

.plate-left {
  width: $plateHeight;
  height: $plateHeight / 2;
  border-top: ($plateHeight / 4) solid $plateColor;
  border-right: ($plateHeight / 2) solid $plateColor;
  border-bottom: ($plateHeight / 4) solid rgba(0, 0, 0, 0);
  border-left: ($plateHeight / 2) solid rgba(0, 0, 0, 0);
  flex: 0;
}

.plate-right {
  width: $plateHeight;
  height: $plateHeight / 2;
  border-top: ($plateHeight / 4) solid $plateColor;
  border-right: ($plateHeight / 2) solid rgba(0, 0, 0, 0);
  border-bottom: ($plateHeight / 4) solid rgba(0, 0, 0, 0);
  border-left: ($plateHeight / 2) solid $plateColor;
  flex: 0;
}




@media screen and (max-height: 800px) {
  #container {
    transform: scale(0.8);
  }
}

@media screen and (max-height: 640px) and (orientation: portrait) {
  #container {
    transform: scale(0.6);
  }
}

@media screen and (max-height: 420px) and (orientation: landscape) {
  #container {
    top: 100%;
  }
}

@media screen and (max-height: 320px) and (orientation: landscape) {
  #container {
    top: 120%;
  }
}

.frosting-row {
  // display: flex;
  // flex-direction: row;
  // width: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.1s;
}
