@import '../Modules/_variables';
@import '../Modules/_meyerReset';

#Nav-container{
    display:flex;
    justify-content: space-between;
    margin: 0em 0em -7em 0em;
    padding: 1em 2em 0em 2em;
    font-family: $primaryFont;


    #Nav-title-container{
        align-items: center;
        z-index: 2;
        a{
            text-decoration: none;
        }

        #Nav-h1{
            color: white;
            letter-spacing: 10px;
            font-weight: 300;
            font-size: 25px;
            margin: 10px;
        } 

        #Nav-div-bar{
            background-color: $purpleBackgroundColor;
            height: 4px;
            width: 15em;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
    .nav-links{
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        #Nav-signin-button{
        font-size: 17px;
        padding: 10px;
        margin: 10px;
        width: 8em;
        border-radius: 1em;
        color: grey;
        border: none;
        cursor: pointer;

        &:hover{
            background-color:$purpleBackgroundColor;
            color: $primaryTextColor;
            box-shadow: 2px 2px 8px rgb(206, 206, 206);
        }
       }
    }
    }
        
