@import '../Modules/_variables';
@import '../Modules/_meyerReset';

#Nav-container{
    padding-left: 20px;
    font-family: $primaryFont;
    height: 80px;
    background-color: rgb(43, 30, 54);
    position: sticky;
    top: 0;
    #logo{
        display: flex;
        #image-logo{
            width: 45px;
        }
    }
    

    #Nav-title-container{
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
        }

        #Nav-h1{
            color: rgb(247, 246, 248);
            font-weight: 400;
            font-size: 24px;
            margin: 10px;
        } 

        #Nav-div-bar{
            background-color: $purpleBackgroundColor;
            height: 4px;
            width: 15em;
            border-radius: 10px;
            margin-top: 20px;
        }
    }

    .nav-link-container{
        display: flex;
        padding: 10px;
    }
    .nav-links{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 20px;
        letter-spacing: 1px;


        a{
            color: rgb(247, 246, 248);
            text-decoration: none;
        
        }
    }
        
}