@import '../../Modules/variables';
@import '../../Modules/_meyerReset';


#CakeFlavorsContainer-main-container{
display: grid;
grid-template-columns: repeat(5, auto);
margin: 30px 10px 10px 10px;
justify-content: center;
width: 45em;
}

.CakeFlavorCard-container{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 13px;
    p{
        margin: 10px 0px 10px 0px;
    }

    .CakeFlavorCard-image{
        width: 70px;
        border-radius: 10px;
        margin-top: 20px;
    }

}

