@import '../../Modules/variables';
@import '../../Modules/_meyerReset';


#CakeFlavorsContainer-main-container{
display: grid;
grid-template-columns: repeat(4, auto);
margin: 30px 10px 10px 10px;
justify-content: center;
width: 45em;
position: relative;
}

.CakeFlavorCard-container{
   
    width: 170px;
    height: 170px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(245, 242, 247);
    margin:15px;
    z-index: 20;

    p{
        padding-top: 2px;
        margin-top: 8px;
        font-size: 15px;
        color: rgb(46, 46, 46);
    }

    .CakeFlavorCard-image{
        width:80px;
        border-radius: 50%;
    }

}

#checkmark{
    width: 40px;
    z-index: 3;
}
