@import '../../Modules/variables';
@import '../../Modules/_meyerReset';

#FrostingFlavor-main-container{
    position: relative;
}

#FrostingFlavorTypeContainer-main-container{
display:grid;
justify-content: center;
grid-template-columns: repeat(5, auto);
z-index: 1;
width: 55em;
margin-top: 15px;
}

#FrostingFlavorTypeCard-container{
    width: 145px;
    height: 145px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(252, 252, 252);
    margin:15px;
    z-index: 20;
 
    #frosting-flavor{
        padding-top: 2px;
        margin-top: 8px;
        font-size: 13px;
        font-weight: bold;
        color: rgb(46, 46, 46);
    }

    #frosting-type{
        padding: 0px;
        margin-top: 2px;
        font-size: 12px;
        color: rgb(46, 46, 46);
        width: 100px;

    }

    .FrostingFlavorType-image{
        width:70px;
        border-radius: 50%;
    }
}



#filter-frostingtype-form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    h1{
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 16px;
    }
}

#FrostingFlavorTypeContainer-select{
    width: 230px;
    height: 35px;
    font-size: 14px;
    position: relative;

    &:focus{
        outline: none;
    }
}

