@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#FrostingFlavorTypeContainer-main-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 45em;
  padding: 0px;
  margin-top: 15px;
  z-index: 1;
  position: relative;
}

#FrostingFlavorTypeCard-container {
  width: 170px;
  height: 170px;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f2f7;
  margin: 15px;
  z-index: 20;
}

#FrostingFlavorTypeCard-container #frosting-flavor {
  padding-top: 2px;
  margin-top: 8px;
  font-size: 13px;
  font-weight: bold;
  color: #2e2e2e;
}

#FrostingFlavorTypeCard-container #frosting-type {
  padding: 0px;
  margin-top: 2px;
  font-size: 12px;
  color: #2e2e2e;
  width: 100px;
}

#FrostingFlavorTypeCard-container .FrostingFlavorType-image {
  width: 80px;
  border-radius: 50%;
}

#checkmark {
  width: 40px;
  z-index: 3;
}

#filter-frostingtype-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
}

#filter-frostingtype-form h1 {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px;
}

#FrostingFlavorTypeContainer-select {
  width: 230px;
  height: 35px;
  font-size: 14px;
}

#FrostingFlavorTypeContainer-select:focus {
  outline: none;
}
/*# sourceMappingURL=FrostingFlavorType.css.map */