@import '../variables';

#greeting-container{
    color: #DB9395;
    margin: 0em 0em 5em 14em;
    font-family: $primaryFont;

    #greeting-container-h3{
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: -10px;
    }
    #greeting-container-h1{
        font-size: 120px;
        margin: 0;
        letter-spacing: 5px;  
    }
    #greeting-container-p{
        font-size: 30px;
        margin-top: -2px;
        color: grey;
    }
    #greeting-container-button{
        font-size: 15px;
        margin-top: -2px;
        width: 200px;
        padding: 8px;
        border-radius: 25px;
        color: grey;
        box-shadow: 2px 2px 8px rgb(206, 206, 206);
        border: none;
        letter-spacing: 1px;
        &:hover{
            background-color:$purpleBackgroundColor;
            color: rgb(97, 63, 97);
            box-shadow: 2px 2px 8px rgb(206, 206, 206);
        }

    }

}