@import '../Modules/_variables';
@import '../Modules/_meyerReset';

body{
    overflow-y: hidden;
}

#Homepage-header{
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
    &:nth-of-type(1){
        align-self: center;
        align-items: center;
    }

}