@import '../Modules/_variables';
@import '../Modules/_meyerReset';

#greeting-container{
    color: #DB9395;
    margin: 12em;
    font-family: $primaryFont;

    #greeting-container-h3{
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: -10px;
    }
    #greeting-container-h1{
        font-size: 120px;
        margin-bottom: 10px;
        letter-spacing: 5px;  
    }
    #greeting-container-p{
        font-size: 30px;
        margin-bottom: 30px;
        color: white;
    }
    #greeting-container-button{
        font-size: 15px;
        margin-top: -2px;
        width: 200px;
        padding: 8px;
        border-radius: 25px;
        color: grey;
        background-color:white;
        border: none;
        letter-spacing: 1px;
        &:hover{
            color: rgb(97, 63, 97);
            transform: translateY(2px);
        }
        &:focus{
            outline: 0px;
            transform: translateY(2px);
        }

    }

}