@import '../../Modules/_variables';
@import '../../Modules/_meyerReset';


#AboutFrostingType-main-container{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
    width: 55em;
}

#FrostingFlavorCard-container{

    #FrostingType-h1{
        font-size: 18px;
        margin-bottom: 5px;
        color: black;
    }
    #FrostingType-p{
        margin: 10px 0px 40px 0px;
        font-size: 17px;
        line-height: 23px;
    }
}