/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#SignupForm-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#Signup-form-container {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px 9px #eedddd;
          box-shadow: 0 0 20px 9px #eedddd;
}

#button-box #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff105f), to(#ffad06));
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.Form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.Form #Signup-first-last-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Form #Logo {
  width: 100px;
  padding-bottom: 10px;
}

.Signup-form-input {
  width: 280px;
  padding: 10px;
  margin: 12px;
  border-radius: 9px;
  font-size: 13px;
  background: transparent;
}

.Signup-form-input-name {
  width: 130px;
  padding: 10px;
  margin: 12px;
  border-radius: 9px;
  font-size: 13px;
  background: transparent;
}

#Signup-form-submit {
  width: 140px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ff105f), to(#ffad06));
  background: linear-gradient(to right, #ff105f, #ffad06);
}
/*# sourceMappingURL=Signup.css.map */