@import '../meyerReset';

#SignupForm-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Signup-form-container{
width: 400px;
height: 500px;
border-radius: 15px;
background-color: white;
display: flex;
align-items: center;
position: relative;
}

#button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 20px 9px rgb(238, 221, 221);
    #btn{
        top: 0;
        left: 0; 
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, #ff105f, #ffad06);
        border-radius: 30px;
        transition: .5s;
    }
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.Form{
    display: grid;
    width: 100%;
    justify-items: center;
    position: absolute;
    transition: .5s;
    #Signup-first-last-name-container{
        display: flex;
    }
    #Logo{
        width: 100px;
        padding-bottom: 10px;
    }
}

#Signup-form{

}

#Login-form{

}

.Signup-form-input{
    width: 280px;
    padding: 10px;
    margin: 12px;
    border-radius: 9px;
    font-size: 13px;
    background: transparent;
}

.Signup-form-input-name{
    width: 130px;
    padding: 10px;
    margin: 12px;
    border-radius: 9px;
    font-size: 13px;
    background: transparent;
}

#Signup-form-submit{
    width: 140px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
}