@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.SignupForm-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71vh;
}

#Signup-form-container {
  width: 500px;
  height: 450px;
  border-radius: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  position: absolute;
}

.Form .Signup-title {
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  padding: 30px;
}

.Form #Signup-first-last-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Signup-form-input {
  width: 350px;
  padding: 13px;
  margin: 10px;
  border-radius: 5px;
  font-size: 13px;
  background: transparent;
}

.Signup-form-input:focus {
  outline: none;
}

.Signup-form-input-name {
  width: 160px;
  padding: 13px;
  margin: 12px;
  border-radius: 5px;
  font-size: 13px;
  background: transparent;
}

.Signup-form-input-name:focus {
  outline: none;
}

.Signup-form-submit {
  width: 140px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ee3e79), to(#750780));
  background: linear-gradient(to right, #ee3e79, #750780);
}

.Signup-form-submit:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.Signup-form-submit:focus {
  outline: 0px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#login-flip-button, #signup-flip-button {
  border: none;
  font-size: 14px;
}

#login-flip-button:hover, #signup-flip-button:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#login-flip-button:focus, #signup-flip-button:focus {
  outline: 0px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#Mini-Login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Mini-Signin-form-input {
  width: 200px;
  padding: 10px;
  margin: 20px 8px 20px 8px;
  border-radius: 5px;
  font-size: 13px;
}

.Mini-Signin-form-input:focus {
  outline: none;
}

.Mini-Signin-form-submit {
  width: 40px;
  height: 38px;
  border-radius: 8px;
  border: none;
  color: #fcfbff;
  font-size: 18px;
  margin: 20px 15px 20px 5px;
  cursor: pointer;
  background-color: #DB9395;
}

.Mini-Signin-form-submit:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.Mini-Signin-form-submit:focus {
  outline: 0px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
/*# sourceMappingURL=Signup.css.map */