@import '../Modules/_variables';
@import '../Modules/_meyerReset';


.SignupForm-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
}

#Signup-form-container{
width: 600px;
height: 470px;
border-radius: 15px;
background-color: white;
display: flex;
align-items: center;
position: relative;
}

.Form{
    display: grid;
    width: 100%;
    justify-items: center;
    position: absolute;
    .Signup-title{
        font-family: $primaryFont;
        font-size: 26px;
        padding: 30px;

    }
    #Signup-first-last-name-container{
        display: flex;
        
    }
}


.Signup-form-input{
    width: 350px;
    padding: 13px;
    margin: 10px;
    border-radius: 5px;
    font-size: 13px;
    background: transparent;
    &:focus{
        outline: none;
    }
}

.Signup-form-input-name{
    width: 160px;
    padding: 13px;
    margin: 12px;
    border-radius: 5px;
    font-size: 13px;
    background: transparent;
    &:focus{
        outline: none;
    }
}

.Signup-form-submit{
    width: 140px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
    background: linear-gradient(to right, #ee3e79, #750780);
    &:hover{
        transform: translateY(2px);
    }
    &:focus{
        outline: 0px;
        transform: translateY(2px);
    }
}

#login-flip-button, #signup-flip-button{
    border: none;
    font-size: 14px;
    &:hover{
        transform: translateY(2px);
    }
    &:focus{
        outline: 0px;
        transform: translateY(2px);
    }
}

